*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    height:100vh;
    background-image:url("hotel bg img.avif");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 70px;
    background-color:#140701;
    position:fixed;
    top:0;
    width:100%;
}
.logo{
    color:#FFD700;
    font-size:34px;
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    margin-left:30px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}
nav ul li a:hover{
    color:#FFD700;
}
.hero{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.hero h1{
    font-size:70px;
    color:white;
    margin-bottom:20px;
}
.hero p{
    color:white;
    font-size:25px;
    margin-bottom:35px;
}
.btn{
    background:#FFD700;
    color:black;
    padding:15px 40px;
    text-decoration:none;
    border-radius:40px;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}
.btn:hover{
    background:#3d1807;
    color:gold;
}
#Home{
    background-color:#5e2206;      
    text-align:center;
    height:70vh;
    width:auto;
    padding:10px;
    display: flex;
    flex-direction: column;
}
#Home h1{
    padding:px;
    font-size:50px;
    color:gold;                 
    font-weight:400;
}
#sub1{
    font-size:30px;
    color:#5C4033;                
    font-weight:300;
    padding-top:25px;
    margin:10px;
}
#Home p{
    font-size:20px;
    color:white;                 
    margin-top:20px;
    font-weight:400;
    line-height:30px;
}
#About{
    background-color:#5e2206;
    text-align:center;
    height:100vh;
    width:auto;
}
#About h1{
    font-size:50px;
    color:gold;                 
    font-weight:400;
    padding:30px;
}
.history{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#About p{
    font-size:20px;
    color:white;                 
    font-weight:400;
    line-height:40px;
}
.about-pic{
    width: 600px;
    height: 450px;
    border-radius: 20px;
    border: 2px solid #FFD700;
}
.about-pic:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    opacity: 80%;
}
#Rooms{
    background-color:#3d1807;      
    text-align:center;
    height:100vh;
    width:auto;
    padding:20;
    font-size:25px;
    font-weight:400;
}
.room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin:auto;
}
.room-pic{
    width: 600px;
    height: 450px;
    border-radius: 20px;
    border: 2px solid #FFD700;
}
.room-pic:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    opacity: 80%;
}
#Rooms h1{
    font-size:50px;
    color:gold;                 
    font-weight:400;
    padding:30px;
}
#Rooms p{
    font-size:20px;
    color:white;                 
    font-weight:400;
    line-height:40px;
}
#Gallery{
    background-color:#5e2206;      
    text-align:center;
    height:180vh;
    width:auto;
    padding:15px;
    color:gold;
    font-size:25px;
    font-weight:400;
    padding-bottom:50px;
}
#Gallery h1{
    font-size:50px;
    color:gold;                 
    font-weight:400;
    padding:15px;
}
.gallery-image{
    width: 300px;
    height: 225px;
    border-radius: 10px;
    border: 2px solid #FFD700;
    margin: 10px;
}
.gallery-image:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    opacity: 80%;
}
#Contact{
    background-color:#752d0c;
    text-align:center;
    height:200vh;
    width:auto;
}
#Contact h1{
    font-size:50px;
    color:gold;                 
    font-weight:400;
    padding:30px;
}
#Contact .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#Contact p{
    font-size:25px;
    color:white;                 
    font-weight:400;
    line-height:40px;
    font-weight:300;
}
#Contact .contact-info{
    font-size:20px;
    color:white;
    text-align:left;
    line-height:2;
}
span{
    color:gold;
    font-weight:400;
    font-size:20px;
}
strong{
    color:gold;
}
/* #footer{
    background-color:#140701;
    text-align:center;
    height:10vh;
    width:auto;
    padding-top:20px;
}
#footer p{
    font-size:18px;
    color:white;                 
    font-weight:400;
    line-height:40px;
} */
#Booking{
    background-color:#5e2206;
    text-align:center;
    min-height:100vh;
    padding:50px;
}

#Booking h1{
    font-size:50px;
    color:gold;
    margin-bottom:30px;
}

.booking-form{
    width:600px;
    margin:auto;
    background-color:#3d1807;
    padding:30px;
    border-radius:15px;
    border:2px solid #FFD700;
    text-align:left;
}

.booking-form label{
    display:block;
    margin-bottom:8px;
    color:gold;
    font-size:18px;
    font-weight:bold;
}

.booking-form input,
.booking-form select,
.booking-form textarea{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border-radius:8px;
    border:1px solid #FFD700;
    background-color:#fff;
    color:#140701;
    font-size:16px;
}

.booking-form input[type="radio"],
.booking-form input[type="checkbox"]{
    width:auto;
    margin-right:8px;
}

.booking-form input[type="radio"] + label,
.booking-form input[type="checkbox"] + label{
    display:inline;
    color:white;
    font-size:16px;
    font-weight:normal;
}

.booking-form textarea{
    rowspan: 3px;
    columnspan: 3px;
}

.booking-form button{
    background-color:#FFD700;
    color:#140701;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    margin-right:15px;
    transition:0.3s;
    text-align:center;
}

.booking-form button:hover{
    background-color:#140701;
    color:#FFD700;
    border:1px solid #FFD700;
}